.add-pin-box {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 15%;
    border: none;
}

.shared-pins-icon {
    position: fixed;
    border: none;
    background-color: transparent;
    height: 14vmin;
    width: 14vmin;
    bottom: 7vmin;
    left: 10vmin;
}

.SharedPinsContainer {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    border-left: 3px solid white;
}

.SharedPins {
    font-family: Arial;
    font-size: 20px;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: center;
}

    .leave-arrow2 {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 50px;
        height: 50px;
        border: none;
        transform: scale(1.8);
        background-color: transparent;
        padding-right: 10px;
    }


    .modal {
        height: 55%;
        width: 35%;
    }

.title-words {
    position: absolute;
    top: 13%;
    left: 5%;
    background: url(../assets/AddPinModal/title.png);
    flex-shrink: 0;
    width: 68px;
    height: 20px;
}

.description {
    position: absolute;
    top: 30%;
    left: 5%;
    background: url(../assets/AddPinModal/description.png);
    width: 168px;
    height: 25px;
}


.leave-arrow {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 50px;
    height: 50px;
    border: none;
    transform: scale(1.8);
    background-color: transparent;
}

.title-box {
    position: absolute;
    top: 18%;
    left: 5%;
    display: flex;
    width: 85%;
    height: 13px;
    margin: 0.25rem 0;
    padding: 1rem;
    border-radius: 10px; 
    overflow: hidden;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px; /* Set font size to 16 pixels */
}

.description-box {
    position: absolute;
    top: 35%; 
    left: 5%;
    width: 85%;
    height: 30%;
    margin: 0.25rem 0;
    padding: 1rem;
    flex-wrap: wrap;
    border-radius: 10px; 
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px; /* Set font size to 16 pixels */
  }

  .make-public {
    position: absolute;
    top: 75%;
    left: 10%;
    background: url(../assets/AddPinModal/make-public.png);
    flex-shrink: 0;
    width: 165px;
    height: 16px;
}

    .switch {
        position: absolute;
        top: 74%;
        right: 10%;
        transform: scale(2.0);
        background: transparent;
        border: none;
    }


@media (max-width: 800px) {
    .add-pin-box {
        position: absolute;
        top: 95%;
        width: 100%;
        height: 15%;
        border: none;
    }
    .modal {
        height: 55%;
        width: 35%;
    }
    .title-words {
        position: absolute;
        top: 13%;
        left: 2%;
        background: url(../assets/AddPinModal/title.png);
        flex-shrink: 0;
        width: 68px;
        height: 20px;
    }
    .description {
        position: absolute;
        top: 30%;
        left: 2%;
        background: url(../assets/AddPinModal/description.png);
        width: 168px;
        height: 25px;
    }
    .leave-arrow {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 50px;
        height: 50px;
        border: none;
        transform: scale(1.8);
        background-color: transparent;
    }
    .title-box {
        position: absolute;
        top: 18%;
        left: 2%;
        display: flex;
        width: 85%;
        height: 13px;
        margin: 0.25rem 0;
        padding: 1rem;
        border-radius: 10px; 
        overflow: hidden;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 18px; /* Set font size to 16 pixels */
    }
    .description-box {
        position: absolute;
        top: 35%; 
        left: 2%;
        width: 85%;
        height: 30%;
        margin: 0.25rem 0;
        padding: 1rem;
        flex-wrap: wrap;
        border-radius: 10px; 
        overflow-wrap: break-word;
        word-break: break-all;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 18px; /* Set font size to 16 pixels */
    }
    .make-public {
        position: absolute;
        top: 75%;
        left: 10%;
        background: url(../assets/AddPinModal/make-public.png);
        flex-shrink: 0;
        width: 165px;
        height: 16px;
    }
    .switch {
        position: absolute;
        top: 74%;
        right: 10%;
        transform: scale(2.0);
        background: transparent;
        border: none;
    }    
}


