.Forgot-Password {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 73, 30, 0.68);
    flex-direction: row;
    font-size: 15px;
    font-family: Arial;
}

.email-form {
    justify-content: flex-start;
    padding-left: 15vw;
    padding-right: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    text-align: left;
    padding: 0.25rem 0;
}

input {
    display: flex;
    width: 250px;
    height: 20px;
    margin: 0.25rem 0;
    padding: 1rem;
    border: none;
}

.confirm {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 282px;
    height: 52px;
    border: none;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: #354545;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial;
}

.link {
    padding: 0.25rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0.15rem 0;
    color: black;
    text-decoration: none;
}

bannerimage {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    border-left: 3px solid white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text{
    width: 282px;
}

.errorLabel {
    color: red;
    font-size: 15px;
}