.plus-icon {
  position: absolute;
  height: 112px;
  width: 112px;
  bottom: 63px;
  right: 138px;
  background-color: transparent;
  color: white;
}

.plus-icon button {
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  padding: 0; /* Remove button padding */
}

.plus-icon img {
  display: block; /* Remove image spacing */
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Ensure the image is circular */
}


.overlay-text {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: white
}

