.plus-icon {
  position: absolute;
  height: 112px;
  width: 112px;
  bottom: 63px;
  right: 138px;
  background-color: transparent;
  color: white;
}

.plus-icon button {
  background: none; 
  border: none; 
  padding: 0;
}

.plus-icon img {
  display: block; 
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

@media (max-width: 767px) {
  .plus-icon {
    height: 15vmin;
    width: 15vmin;
    bottom: 10vmin;
    right: 10vmin;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.overlay-text {
  position: absolute;
  top: 20px; 
  left: 20px; 
  background-color: black; 
  padding: 10px;
  border-radius: 5px;
  color: white
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




