.plus-icon,
.account-icon {
  position: absolute;
  height: 112px;
  width: 112px;
  background-color: transparent;
  color: white;
}

.plus-icon button:hover {
  border-radius: 50%; 
  background-color: rgba(0, 0, 0, 0); 
}

.plus-icon button {
  border-radius: 50%; 
  transition: border-radius 0.3s ease, background-color 0.3s ease; 
  background: none; 
  border: none; 
  padding: 0;
}

.plus-icon img {
  display: block; 
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

.plus-icon button,
.account-icon button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  transition: transform 0.2s ease;
}

.plus-icon img,
.account-icon .accountcircle-icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.plus-icon {
  bottom: 5vmin;
  right: 5vmin;
}


.account-icon {
  top: 5vmin;
  right: 5vmin;
}

.plus-icon button,
.account-icon button {
  background: none;
  border: none;
  padding: 0;
  transition: transform 0.2s ease; /* Adding a smooth transition effect */
}

.plus-icon button:active,
.account-icon button:active {
  transform: scale(0.95); /* You can adjust the scale value as needed */
}

@media (max-width: 767px) {
  .plus-icon,
  .account-icon {
    height: 15vmin;
    width: 15vmin;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.overlay-text {
  position: absolute;
  top: 20px; 
  left: 20px; 
  background-color: black; 
  padding: 10px;
  border-radius: 5px;
  color: white
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




